nav {
    background-color: #bd1e2b;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    padding-left: 15px;
}

a {
    color: aliceblue;
    padding-left: 10px;
}

.topbar {
    background-image: url("shutterstock590350112.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    height: 400px;
}

#title {
    color: rgb(189, 58, 58);
    width: 20%;
    padding-left: 15px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-right: -50px;
}

#logo {
    padding-left: 20px;
    padding-right: 30px;
}

main {
    background-color: aliceblue;
    color:rgb(82, 21, 26);
}

li {
    padding-bottom: 15px;
}

#firstparagraph {
    padding: 50px;
    font-size: large;
}

.firstimage {
    padding: 50px;
}

#amazing {
    text-align: center;
    background-color: rgb(189, 30, 43);
    padding: 15px; 
    color: aliceblue;
}

.secondimage {
    padding: 50px;
}

#secondparagraph {
    padding: 50px;
    padding-top: 100px;
    font-size: large;
}

.firstsection {
    display: flex;
    border-radius: 30px;
    border-color: #bd1e2b;
}

.secondsection {
    display: flex;
    border-radius: 30px;
}

#activitiestitle {
    text-align: center;
    padding: 15px;
    padding-bottom: 50px;
}

.thirdsection {
    display: flex;
    flex-direction: row;
    height: 400px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.carving {
    text-align: center;
}

.weaving {
    text-align: center;
}

.footer {
    text-align: center;
    background-color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
}

.topbar2 {
    background-image: url("Carving-School-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -300px;
    height: 400px;
}

h1 {
    margin: 0px;
}

#woodimg {
    padding: 70px; 
}

.woodsection {
    display: flex;
    align-items: center;
}

#woodparagraph {
    font-size: large;
}

#historytitle {
    padding-bottom: 20px;
    text-align: center;
}

#tourtitle {
    text-align: center;
    padding: 30px;
}

#videosection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tourwriting {
    padding-top: 50px;
    text-align: center;
    font-size: large;
}

body {
    background-color: aliceblue;
}

.contact {
    padding: 100px;
    background-color: #d5faff;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

#reason {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

#submit {
    width: 100px;
    height: 30px;
}