header {
    background-image: url('shutterstock590350112.jpg');
    background-repeat: no-repeat;
    background-size: 100% 150%
    
}
nav {
    background-color:skyblue;
    
}

.topbar {
    height: 348px;
}

#title {
    color: rgb(189, 2, 2);
    width: 40%;
    padding-left: 15px;
}

#logo {
    padding-left: 20px;
    padding-right: 30px;
}

main {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(1px, 2fr));
    justify-items: center;
  }

.firstwriting {
    width: 90%;
    display: inline-block;
    padding-left: 50px;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
    font-size: large;
    padding-top: 30px;
}

.firstimage {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: inline-block;
}

main {
    background-color: rgb(255, 255, 255);
}

li {
    padding-bottom: 15px;
}

#firstparagraph {
    padding-bottom: 30px;
}

#amazing {
    width: 200%;
    padding-left: 1800px;
}

.secondimage {
    width: 100%;
    padding-left: 100px;
}